.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navBar{
  background-color: #15171C;
  width: 100%;
}
.navbarTitle{
  color: white;
  font-weight: 600;
  font-size: 2vw;
  font-style: italic;
}

.navbarTitle:hover{
  color: orange;
}
.nave2{
  background-color: #15171C;
}
.nav2{
  margin-left: 6vw;
}
.nav2btn{
  width: 20vw;
  font-weight: 600;
  margin-left: 1vw;

}
.nav2btn:hover{
  background-color: gray;
  color: white;
}

.signin{
  width: 40vw;
  height: 70vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
}
.signin input{
  width: 20vw;
  text-align: center;
  margin: auto;
  background-color: #00003f;
  color: white;
  border: 0.1vw solid white;
  border-radius: 1vw;
  height: 3vw;
}
.emailLabel{
  margin-top: 1vw;
}
.signinSubmit{
  margin-top: 1.5vw;
}
.homeScreen{
  background-color: black;
}
.createAccountButton{
  color: white;
  background-color: black;
  margin-top: 1vw;
  margin-left: 26vw;
}
.createAccountButton:hover{
  color: gray;
}
.associatelogin1{
  width: 40vw;
  height: 75vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;
}
.associatelogin1 input{
   width: 25vw;
  text-align: center;
  margin: auto;
  background-color: #00003f;
  color: white;
  border: 0.1vw solid white;
  border-radius: 1vw;
  height: 4vw;
}
.associatesignin{
  margin-top: 5vw;
}
.next1{
  margin-top: 3vw;
  width: 15vw;
}

.associatelogin2{
  width: 40vw;
  height: 98vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: block;

}
.as2{
   width: 25vw;
  text-align: center;
  margin: auto;
  background-color: #00003f;
  color: white;
  border: 0.1vw solid white;
  border-radius: 1vw;
  height: 4vw;
}
.activities{
  width: 20vw;
  height: 10vw;
  margin: auto;
}
.next2,.next3{
  margin-top: 3vw;
  width: 10vw;
}
.activities label{
  margin: auto;
  padding: 0.2vw;
  font-weight: 700;
}
.activities input{
  background-color: black;
  width: 5vw;
  height: 2vw;
  border: 0.2vw solid black;
  border-radius: 1vw;
  margin-left: 0.5vw;
}
.associatelogin3{
  width: 40vw;
  height: 200vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;
margin-bottom: 5vw;
}
.addressinfo{
  margin-top: 1.5vw;
}
.as3{
  width: 25vw;
 text-align: center;
 margin: auto;
 background-color: #00003f;
 color: white;
 border: 0.1vw solid white;
 border-radius: 1vw;

}
.slideshowContainer{
  opacity: 0.5;
}
body{
  background-color:  black;
}
.footer{
  background-color: black;
  width:100%;
  min-height:60px;
  margin-top: 5vw;
  display: grid;
  grid-template-columns: 33% 67%;
  justify-content: center;
  margin-top: 5vw;
}
.footer img{
  width: 15vw;
  justify-content: center;
  margin-left: 5vw;
}
.footerInfo1{
  color: white;
  margin: auto;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
  text-align: center;
}
.footerInfo{
  color: white;
  margin: auto;
  margin-bottom: 0.5vw;
  margin-left: 4vw;
  font-size: 4vw;
  margin-top: 5vw;
}
.associatePage{
  background-image: url('./images/banner6.png');
  background-repeat: repeat;
  background-size: 100vw 100vh;
}

.signin img{
  width: 10vw;
  margin-top: 2vw;
}

.createUser{
  width: 40vw;
  height: 70vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
}
.createUser input{
  width: 25vw;
 text-align: center;
 margin: auto;
 background-color: #00003f;
 color: white;
 border: 0.1vw solid white;
 border-radius: 1vw;
 height: 4vw;
}
.createUser{
 margin-top: 5vw;
}
.createNext1{
 margin-top: 3vw;
 width: 15vw;
}
.createUser2{
  width: 40vw;
  height: 80vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;

}
.createUser2{
 margin-top: 5vw;
}
.createNext2{
 margin-top: 3vw;
 width: 15vw;
}

.createUser3{
  width: 40vw;
  height: 140vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;
}
.addressinfo{
  margin-top: 1.5vw;
}
.as3{
  width: 25vw;
 text-align: center;
 margin: auto;
 background-color: #00003f;
 color: white;
 border: 0.1vw solid white;
 border-radius: 1vw;

}
.newUser{
  margin-top: 5vw;
}



.dietContainer{
display:grid;
grid-template-columns: repeat(3,1fr);   
justify-content: center;
background: lightgray;

}
.dietContainer button{
  width: 30vw;
  margin: auto;
  margin-top: 10vw;
  border-radius: 10vw;
margin-bottom: 4vw;
}
.dietContainer button:hover{
  background-color: wheat;
  box-shadow: 0.5vw 0.5vw 0.5vw black;
}
.dietContainer button{
padding: 0.1vw;
background: gray;
}
.vegButton1{
  background-image: url('./images/veg.png') ;
  background-repeat: no-repeat;
  background-size: 38vw 50vh;
  width: 38vw;
  height: 50vh;
  margin-top: 5vw;
  border: 0.3vw solid gray;
  margin-left: 31vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.vegButton1:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}
.vegButton2{
  background-image: url('./images/nonVeg.png') ;
  background-repeat: no-repeat;
  background-size: 38vw 50vh;
  width: 38vw;
  height: 50vh;
  margin-top: 5vw;
  border: 0.3vw solid gray;
  margin-left: 31vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.vegButton2:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}

.vegLossHeading{
  color: lightgray;
  font-size: 4vw;
  margin-top: 5vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
  font-style: italic;

  text-decoration: underline 0.6vw gray;
}
.vegLossHeadingTips{
  color: orange;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
  font-style: italic;
 margin: auto;
  text-shadow: 0.2vw 0.2vw black;
}

.wtLossTips{
  color: white;
}
.vegLossBulletPoints{
  font-size: 1.5vw;
}
.wtLossTips{
  border:0.5vw solid white;
  width: 50vw;
  margin: auto;
  margin-top: 3vw;
  background: linear-gradient(gray, orange);
  font-weight: 700;
}
.vegImg img{
  width: 70vh;
  margin: auto;
  margin-top: 10vw;
  margin-right: 5vw;
  border:0.5vw solid black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
}
#vegImg3 {
  width: 70vh;
 
  margin-top: 10vw;
  border:0.5vw solid black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
  margin-bottom: 5vw;
}
.associatePage2{
  background: linear-gradient(black,green,black);
}

.status,.reqStatus{
  color: red;
  font-size: 1vw;
  text-align: center;
}
.associateDescription{
  width: 25vw;
  text-align: center;
  margin: auto;
  background-color: #00003f;
  color: white;
  border: 0.1vw solid white;
  border-radius: 1vw;
  height: 14vw;
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
}
.associateCard{
  width: 50vw;
  height: 50vw;
  text-align: center;
  margin: auto;
  margin-top: 13vw;
  background-color: gainsboro;
  border: 0.2vw solid greenyellow;
  border-radius: 3vw;
  box-shadow: 0.5vw 0.5vw 0.5vw orange;
}
.associateCard img{
  padding: 0.3vw;
  border: 0.3vw solid black;
  border-radius: 3vw;
  margin-top: 0.2vw;
  margin: auto;
  max-height: 40vh;
}
.gymPage{
  background: linear-gradient(black,green,black,black);
}
.gymTitle{
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 3vw;
  text-shadow: 0.2vw 0.2vw yellow;
}
.gymInfo{
  font-size: 2vw;
  font-weight: 600;
  color: green;
  text-shadow: 0.1vw 0.1vw black;
}
.gymAns{
  font-size: 1.5vw;
  font-weight: 600;
  color: black;
  text-shadow: 0.1vw 0.1vw green;
}
.gymInfoButton{
  border: 0.2vw solid black;
  width: 20vw;
  height: 3vw;
  border-radius: 1vw;
  margin: auto;
  font-weight: 700;
 
}
.gymInfoButton:hover{
  background-color: tomato;
  color: white;
  border: 0.2vw solid black;
}

.associateType{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
}
.associateType button{
  background-color: black;
  width: 45vw;
  margin: auto;
  margin-top: 10vw;
  border-radius: 10vw;
}
.associateTypeImage{
  width: 100%;
  border-radius: 10vw;
}
.associateType button:hover{
  background-color: rgb(175, 160, 160);
}

.profileButton{
  border-radius: 15vw;
  width: 3.2vw;
  height: 3.2vw;
  background-image: url('./images/profileLogo.png');
  background-repeat: no-repeat;
  background-size: 3vw 3vw;
  margin-right: 0.5vw;
  border: 0.1vw solid white;
}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 10vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: gray;
  border-radius: 2vw;
  border: 0.3vw solid black;
}

/* Links inside the dropdown */
.dropdown-content a,.dropdown-content button {
  color: white;
  font-weight: 600;
  padding: 1vw;
  text-decoration: none;
  display: block;
  margin: auto;
}

.dropdown-content a:hover{
  color: black;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.userName{
  color: white;
  margin-right: 5vw;
  font-weight: 700;
}
.profileContainer{
  width: 70vw;
  margin: auto;
  height: 70vw;
  background: linear-gradient(black,green,black);
  border: 0.2vw solid whitesmoke;
  margin-top: 10vw;
  border-radius: 10vw;
  
}
.profilePage{
  background: linear-gradient(black,purple,black);
}
.profileLabel{
  color: yellow;
  font-weight: 700;
  font-size: 2vw;
  margin-top: 4vw;
}
.profileElements{
  margin-top: 4vw;
}
.profileValue{
  min-width: 30vw;
  min-height: 4vw;
  background-color: purple;
  border-radius: 2vw;
  border: 0.2vw solid white;
  margin-right: 4vw;
  text-align: center;
  color: white;
  float: right;
}
.profileHeading{
  color: white;
  font-weight: 800;
  color: yellow;
  font-size: 4vw;
}
.updateProfileButton{
  float: right;
  margin-top: 6vw;
  width: 15vw;
  height: 5vw;
  border-radius: 5vw;
  border: 0.2vw solid white;
  font-weight: 800;
  color: black;
}
.updateProfileButton:hover{
  background-color: blue;
  color: white;
}
.profileValue2{
  min-width: 30vw;
  min-height: 4vw;
  background-color: purple;
  border-radius: 2vw;
  border: 0.2vw solid tomato;
  margin-right: 4vw;
  text-align: center;
  color: white;
  float: right;
}
.updateProfileButton2{
  float: right;
  margin-top: 6vw;
  width: 15vw;
  height: 5vw;
  border-radius: 5vw;
  border: 0.2vw solid white;
  font-weight: 800;
  color: black;
  background: tomato;
}
.updateProfileButton2:hover{
  background: red;
}
.associateImage{
  background:#00003f;
  color: whitesmoke;
}
.gymCard{
  width: 45vw;
  height: 100vh;
  margin: auto;
  border-radius: 3vw;
  background-color: #282c34;
  border: 0.3vw solid gold;
  margin-top: 10vw;
}
.gymCard img{
  width: 43vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 3vw;

  margin: auto;

}
.gymCardImageContainer
{
  height: 60vh;
  width: 44vw;
  border-radius: 3vw;
  margin: auto;
}
.gymCardTitle{
color: gold;
font-size: 3.5vw;
font-weight: 800;
text-shadow: 0.05vw 0.05vw white;

}
.mainGymPage{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.gymCard:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw black;
  cursor: pointer;
}
.cardDetails{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 2vw;
}
.cardDetail{
  color: white;
  font-size: 1.5vw;
  margin-top: 2vw;
}

.emoji{
  background-color: gold;
  border-radius: 2vw;
  padding: 0.2vw;
 
}
.searchArea{
  width: 30vw;
  margin: auto;
  margin-top: 3vw;
  
}
.searchBar{
  background-color: black;
  border:0.15vw solid white;
  color: white;
  border-radius: 0.3vw;
  text-align: center;
  margin-right: 0.5vw;
}
.searchOptions{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.filterContainer{
  height: 5vw;
  background: gray;
  margin-top: 1vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.filterItem,.filterItemSearch{
  margin: auto;
}
.applyFilterButton{
  width: 15vw;
  border:0.2vw solid black;
}
.removeFilter{
  border:0.2vw solid black;
}

.filterItemSearch{
  width: 20vw;
}
.inputSerachBar1,.inputSerachBar2{
  text-align: center;
  border-radius: 1vw;
  border:0.2vw solid black;
  font-weight: 700;
  width: 20vw;
  height: 3.5vw;
  background: lightgray;
}
.carddetail{
  color: gold;
  
  font-weight: 800;
}
.carddetail2{
  color: gold;
 margin-left: 2vw;
  font-weight: 800;
}
.filterItem button{
  border-radius: 1vw;
  border:0.3vw solid black
}
.BigCard{
  width: 50vw;
  margin: auto;
  height: 100vh;
  margin-top: 5vw;
  border-radius: 5vw;
  background: gray;
  border: 0.5vw solid gold;
  box-shadow: 0.3vw 0.3vw 0.3vw gold;
  display: none;
}

.bigCardTitle{
  margin-top: 5vw;
  font-size: 5vw;
  font-weight: 800;
  color: gold;
  text-shadow: 0.1vw 0.1vw whitesmoke;
}
.bigCardButton{
  float: right;
  width: 10vw;
  border-radius: 3vw;
  font-weight: 800;
  border:0.3vw solid black;
}
.bigCardText{
  width: 40vw;
  min-height: 30vh;
  max-height: 50vh;
  text-align: center;
  border-radius: 2vw;
  background: #00003f;
  color: white;
  font-size: 1.2vw;
  font-weight: 700;
  white-space: pre-wrap;
  margin: auto;
}
.bigCardDetail{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.bigCardDetailing{
  max-width: 20vw;
  max-height: 30vh;
  min-width: 20vw;
  min-height: 30vh;
  background: #00003f;
  margin: auto;
  margin-bottom: 6vw;
  border-radius: 3vw;
  color: white;
  font-size: 1.3vw;
  font-weight: 700;
}
.BigCard h1{
  color: gold;
}
.storePage{
  margin-top: 10vw;
  color: rgb(180, 173, 173);
  font-weight: 800;
  font-size: 5vw;
}
.GymPage{
  background: linear-gradient(black,gold,black,green,black);
}
.dietBanner{
  width: 100%;
margin-left:1vw ;
}
.foodFactHeading{
  color: greenyellow;
  font-size: 3vw;
  font-weight: 700;
  text-align: left;
  margin-left: 2vw;
  margin-top: 3vw;
  text-decoration: underline;
  font-style: italic;
}
.foodFacts{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.dietFact{
  width: 70%;
  height: 15vw;
  border-radius: 2vw;
  margin: auto;
  margin-top: 2vw;
}
.factInfo{
  color: black;
  width: 90%;
  font-weight: 700;
  margin: auto;
  margin-top: 1vw;
}
.factContainer img{
  border: 0.2vw solid black;
}
.factContainer{
  background: rgb(194, 186, 186);
  padding-bottom: 1vw;
  width: 93%;
  margin: auto;
  height: 38vw;
  border-radius: 2vw;
  margin-top: 1vw;
}
.qna{
  margin-top: 4vw;
  background: url('./images/diet_b2.png') ;
  background-size: 100%;
  width: 100vw;
  height: 45vw;
}
.qnaHeading{
  color: white;
  font-weight: 800;
  background: green;
  width: 11vw;
  padding: 0.2vw;
  border-radius: 1vw;
  margin-left: 10vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
}
.qnaContainer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.qnaQues{
  width: 82%;
  height: 62vh;
  background:rgb(240, 235, 235);
  margin: auto;
  margin-top: 3vw;
  border-radius: 2vw;
}
.ques{
  font-weight: 800;
  width: 90%;
  margin: auto;
  margin-top: 1vw;
}
.ans{
  width: 90%;
  margin: auto;
  margin-top: 1vw;
}
.beverage{
  margin-top: 5vw;
  background: burlywood;
}
.beverage h1{
  color: rgb(211, 115, 115);
  font-weight: 800;
  font-size: 5vw;
  text-shadow: 0.2vw 0.2vw black;
}
.beverage h3{
  font-weight: 800;
  text-align: center;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 3vw;
}
.beverageBanner{
  width: 100%;
  height: 30vw;
}
.beverage p{
  font-size: 2vw;
  width: 90%;
  margin: auto;

  font-weight: 700;
  margin-top: 1vw;
  padding-bottom: 3vw;
}
.weightLossIntro{
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 5vw;
  font-weight: 700;
  font-size: 1.5vw;
}
.weightLossHeading{
  font-size: 5.5vw;
  color: goldenrod;
  margin-top: 5vw;
  font-weight: 700;
}
.weightLossSubheading{
  color: gold;
  font-size: 5vw;
  font-weight: 700;
  text-align: left;
  margin-left: 1vw;
  margin-top: 5vw;
  
}
.weightLossSubIntro{
  color: white;
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 2vw;
}
.diet{
  color: gold;
  font-size: 5vw;
  margin-top: 3vw;
  font-weight: 800;
  text-align: left;
  margin-left: 2vw;
  
  width: 10vw;
border-radius: 1vw;
}
.weightLossSubSubHeading{
  color: goldenrod;
  font-size: 3vw;
  font-weight: 700;
  text-align: left;
  margin-left: 1vw;
  margin-top: 5vw;
  
}
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
















@media screen and (max-width: 650px){
  .navbarTitle{
      font-size: 8vw;
      font-style: italic;
      font-weight: 600;
      color: white;
      text-shadow: 0.2vw 0.2vw red;
      margin-left: 10%;
  }
  .signin{
      width: 80vw;
      height: 70vh;
      border: 0.2vw solid gray;
      border-radius: 1vw;
    color: white;
    text-align: center;
    background-color: black;
    margin: auto;
    margin-top: 7vw;
  }
  .signin input{
      width: 60vw;
      text-align: center;
      margin: auto;
      background-color: indigo;
      height: 8vw;
  }
  .emailLabel{
      margin-top: 5vw;
  }
  .signinSubmit{
      margin-top: 3vw;
  }
  .createAccountButton{
      margin: auto;
      margin-top: 10vw;
  }
  .associatelogin1{
      width: 80vw;
      height: 50vh;
      border: 0.2vw solid gray;
      border-radius: 1vw;
    color: white;
    text-align: center;
    background-color: black;
    margin: auto;
    margin-top: 15vw;
    margin-bottom: 20vw;
    display: none;
  }
  .associatelogin1 input{
      width: 45vw;
     text-align: center;
     margin: auto;
     background-color: #00003f;
     color: white;
     border: 0.1vw solid white;
     border-radius: 1vw;
     height: 7vw;
 }
 .associatesignin{
     margin-top: 10vw;
 }
 .next1{
     margin-top: 8vw;
     width: 15vw;
 }
 .next2{
     margin-top: 8vw;
     width: auto;
 }
 .next1{
     margin-top: 8vw;
     width: 15vw;
 }
 .associatelogin2{
  width: 80vw;
  height: 70vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 15vw;
display: block;
margin-bottom: 10vw;
}
.as2{
   width: 45vw;
  text-align: center;
  margin: auto;
  background-color: #00003f;
  color: white;
  border: 0.1vw solid white;
  border-radius: 1vw;
  height: 7vw;
  margin-top: 1vw;
}
.associatelogin3{
  width: 90vw;
  height: 140vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;
margin-bottom: 15vw;
margin-top: 15vw;
}
.addressinfo{
  margin-top: 1.5vw;
}
.associatelogin3 input{
  width: 70vw;
}
.as3{
  width: 70vw;
 text-align: center;
 margin: auto;
 background-color: #00003f;
 color: white;
 border: 0.1vw solid white;
 border-radius: 1vw;
}

.footerInfo1{
  color: white;
  margin: auto;
  margin-bottom: 0.5vw;
  margin-left: 2vw;
  font-size: 2vw;
  text-align: center;
}
.footerInfo{
  color: white;
  margin: auto;
  margin-bottom: 0.5vw;
  margin-left: 7vw;
  font-size: 5vw;
  margin-top: 8vw;
}
.homeImage{
  margin-left: 0;
  width: 100%;
  margin-top: 25vw;
}
.signin img{
  width: 30vw;
  margin-top: 3vw;
}
.createUser{
  width: 80vw;
  height: 70vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
}
.createUser input{
  width: 45vw;
 text-align: center;
 margin: auto;
 background-color: #00003f;
 color: white;
 border: 0.1vw solid white;
 border-radius: 1vw;
 height: 7vw;
}

.createUser3{
  width: 80vw;
  height: 120vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;
}
.addressinfo{
  margin-top: 1.5vw;
}
.createUser3 input{
  width: 60vw;
}
.createUser2{
  width: 80vw;
  height: 80vh;
  border: 0.2vw solid gray;
  border-radius: 1vw;
color: white;
text-align: center;
background-color: black;
margin: auto;
margin-top: 5vw;
display: none;

}
.newUser{
  margin-top: 15vw;
}

.dietContainerButton1{
  background-image: url('./images/wt.png') ;
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  width: 70vw;
  height: 50vh;
  margin-top: 10vw;
  border: 0.3vw solid gray;
  margin-left: 15vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.dietContainerButton1:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}

.dietContainerButton2{
  background-image: url('./images/wl.png') ;
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  width: 70vw;
  height: 50vh;
  margin-top: 10vw;
  border: 0.3vw solid gray;
  margin-left: 15vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.dietContainerButton2:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}
.dietContainerButton3{
  background-image: url('./images/pro.png') ;
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  width: 70vw;
  height: 50vh;
  margin-top: 10vw;
  border: 0.3vw solid gray;
  margin-left: 15vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.dietContainerButton3:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}
.vegButton1{
  background-image: url('./images/veg.png') ;
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  width: 70vw;
  height: 50vh;
  margin-top: 10vw;
  border: 0.3vw solid gray;
  margin-left: 15vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.vegButton1:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}
.vegButton2{
  background-image: url('./images/nonVeg.png') ;
  background-repeat: no-repeat;
  background-size: 70vw 50vh;
  width: 70vw;
  height: 50vh;
  margin-top: 10vw;
  border: 0.3vw solid gray;
  margin-left: 15vw;
  border-radius: 2vw;
  box-shadow: 0.7vw 0.7vw 0.7vw gray;
 
}
.vegButton2:hover{
  box-shadow: 0.7vw 0.7vw 0.7vw white;
}

.vegLossHeadingTips{
  color: orange;
  font-size: 5vw;
  font-weight: 700;
  letter-spacing: 0.1vw;
  font-style: italic;
  margin: auto;
  text-shadow: 0.2vw 0.2vw black;
}

.wtLossTips{
  color: white;
  margin: auto;
}
.vegLossBulletPoints{
  font-size: 2.5vw;
}
.wtLossTips{
  border:0.5vw solid white;
  width: 70vw;
  margin: auto;
  margin-top: 3vw;
  background: linear-gradient(gray, orange);
  font-weight: 700;
}
.vegImg img{
  width: 82vw;
  margin-top: 12vw;

  border:0.5vw solid black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
}
#vegImg3 {
  width: 82vw;
  margin-top: 12vw;
  border:0.5vw solid black;
  border-radius: 2vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
  margin-left: 5vw;
  margin-bottom: 5vw;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
}
.associateCard{
  width: 70vw;
  height: 95vw;
  text-align: center;
  margin: auto;
  margin-top: 18vw;
  background-color: gainsboro;
  border: 0.2vw solid greenyellow;
  border-radius: 3vw;
  box-shadow: 0.5vw 0.5vw 0.5vw orange;
}
.associateCard img{
  padding: 0.3vw;
  border: 0.3vw solid black;
  border-radius: 3vw;
  margin-top: 0.2vw;
  margin: auto;
  max-height: 40vh;
}
.gymPage{
  background: linear-gradient(black,green,black,black);
}
.gymTitle{
  font-size: 8vw;
  font-weight: 700;
  margin-bottom: 3vw;
  text-shadow: 0.2vw 0.2vw yellow;
}
.gymInfo{
  font-size: 5vw;
  font-weight: 600;
  color: green;
  text-shadow: 0.4vw 0.4vw black;
}
.gymAns{
  font-size: 4vw;
  font-weight: 600;
  color: black;
  text-shadow: 0.4vw 0.4vw green;
}
.gymInfoButton{
  border: 0.2vw solid black;
  width: 60vw;
  height: 10vw;
  border-radius: 1vw;
  margin: auto;
  font-weight: 700;
 
}
.gymInfoButton:hover{
  background-color: tomato;
  color: white;
  border: 0.2vw solid black;
}
.associateType{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
}
.associateType button{
  background-color: black;
  width: 80vw;
  margin: auto;
  margin-top: 10vw;
  border-radius: 10vw;
}
.associateTypeImage{
  width: 100%;
  border-radius: 10vw;
  margin: auto;
}
.associateType button:hover{
  background-color: rgb(175, 160, 160);
}
.nav2{
  margin-left: 4vw;
}
.profileButton{
  border-radius: 15vw;
  width: 10vw;
  height: 10vw;
  background-image: url('./images/profileLogo.png');
  background-repeat: no-repeat;
  background-size: 10vw 10vw;
  margin-left: 3vw;
  margin-right: 1vw;
  border: 0.1vw solid white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 25vw;
  height: 29vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: gray;
  border-radius: 2vw;
  border: 0.3vw solid black;
}
.dropdown-content a,.dropdown-content button {
  color: white;
  font-weight: 600;
  padding: 1.5vw;
  text-decoration: none;
  display: block;
  margin: auto;
}
.associateButton{
  margin-left: 0%;
  margin-right: 0%;
}
.userName{
  margin-right: 0.5vw;
}
.profileContainer{
  width: 70vw;
  margin: auto;
  height: 120vw;
  background: linear-gradient(black,green,black);
  margin-bottom: 10vw;
  border: 0.2vw solid whitesmoke;
  margin-top: 10vw;
  border-radius: 10vw;
}
.profileLabel{
  color: yellow;
  font-weight: 700;
  font-size: 3.5vw;
  margin-top: 6vw;
}
.profileElements{
  margin-top: 4vw;
}
.profileValue{
  min-width: 35vw;
  min-height: 5vw;
  background-color: purple;
  border-radius: 2vw;
  border: 0.2vw solid white;
  margin-right: 2vw;
  text-align: center;
  color: white;
  float: right;
}
.profileHeading{
  color: white;
  font-weight: 800;
  color: yellow;
  font-size: 4vw;
}
.updateProfileButton{
  margin-right: 3vw;
  margin-top: 10vw;
  width: 30vw;
  height: 17vw;
  border-radius: 5vw;
  border: 0.2vw solid white;
  font-weight: 800;
  color: black;
}
.updateProfileButton:hover{
  background-color: blue;
  color: white;
}

.updateProfileButton2{
  margin-right: 3vw;
  margin-top: 10vw;
  width: 30vw;
  height: 17vw;
  border-radius: 5vw;
  border: 0.2vw solid white;
  font-weight: 800;
  color: black;
  background: tomato;
}

.gymCard{
  width: 75vw;
  height: 75vh;
  margin: auto;
  border-radius: 3vw;
  background-color: #282c34;
  border: 0.6vw solid gold;
  margin-top: 10vw;
}
.gymCard img{
  width: 72vw;
  height: 50vh;
  overflow: hidden;
  border-radius: 3vw;

  margin: auto;

}
.gymCardImageContainer
{
  height: 50vh;
  width: 73vw;
  border-radius: 3vw;
  margin: auto;
}
.gymCardTitle{
color: gold;
font-size: 7vw;
font-weight: 800;
text-shadow: 0.05vw 0.05vw white;
}
.mainGymPage{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.gymCard:hover{
  box-shadow: 0.5vw 0.5vw 0.5vw gold;
  cursor: pointer;
}
.cardDetails{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 2vw;
}
.cardDetail{
  color: white;
  font-size: 3vw;
  margin-top: 5vw;
  font-weight: 800;
}
.emoji{
  background-color: gold;
  border-radius: 2vw;
  padding: 0.2vw;
}
.searchArea{
  width: 30vw;
  margin: auto;
  margin-top: 3vw;
  
}
.searchBar{
  background-color: black;
  border:0.15vw solid white;
  color: white;
  border-radius: 0.3vw;
  text-align: center;
  margin-right: 0.5vw;
}
.searchOptions{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.filterContainer{
  height: 18vw;
  background: grey;
  margin-top: 1vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.filterItem,.filterItemSearch{
  margin: auto;
}
.applyFilterButton{
  width: 25vw;
  border:0.3vw solid black;
  font-size: 3vw;
  font-weight: 800;
}
.removeFilter{
  width: 25vw;
  border:0.3vw solid black;
  font-size: 2.3vw;
  font-weight: 800;
  margin-top: 1.5vw;
}
.filterItemSearch{
  width: 20vw;
}
.inputSerachBar1,.inputSerachBar2{
  text-align: center;
  border-radius: 1vw;
  border:0.2vw solid black;
  font-weight: 700;
  width: 25vw;
  height: 9vw;
}

.BigCard{
  width: 80vw;
  margin: auto;
  height: 130vh;
  margin-top: 15vw;
  border-radius: 5vw;
  background: gray;
  border: 0.5vw solid gold;
  box-shadow: 0.3vw 0.3vw 0.3vw gold;
  display: none;
  margin-bottom: 14vw;
}

.bigCardTitle{
  margin-top: 15vw;
  font-size: 10vw;
  font-weight: 800;
  color: gold;
  text-shadow: 0.3vw 0.3vw whitesmoke;
  margin-bottom: 10vw;
}
.bigCardButton{
  float: right;
  width: 30vw;
  border-radius: 3vw;
  font-weight: 800;
  border:0.3vw solid black;
}
.bigCardText{
  width: 60vw;
  min-height: 30vh;
  max-height: 50vh;
  text-align: center;
  border-radius: 2vw;
  background: #00003f;
  color: white;
  font-size: 3vw;
  font-weight: 700;
  white-space: pre-wrap;
  margin: auto;
}
.bigCardDetail{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.bigCardDetailing{
  max-width: 60vw;
  max-height: 30vh;
  min-width: 60vw;
  min-height: 30vh;
  background: #00003f;
  margin: auto;
  margin-bottom: 6vw;
  border-radius: 3vw;
  color: white;
  font-size: 3vw;
  font-weight: 700;
}
.BigCard h1{
  color: gold;
  font-weight: 800;
}

.dietBanner{
width: 100vw;
}
.foodFactHeading{
  color: greenyellow;
  font-size: 7vw;
  font-weight: 800;
  text-align: left;
  margin-left: 2vw;
  margin-top: 5vw;
  text-decoration: underline;
  font-style: italic;
}
.foodFacts{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.dietFact{
  width: 90vw;
  border-radius: 2vw;
  margin: auto;
  margin-top: 2vw;
}
.factInfo{
  color: black;
  width: 90%;
  font-weight: 700;
  margin: auto;
  margin-top: 1vw;
}
.factContainer img{
  border: 0.5vw solid black;
}
.factContainer{
  background: rgb(194, 186, 186);
  padding-bottom: 1vw;
  width: 95vw;
  height: 75vh;
  margin: auto;
  margin-top: 6vw;
  border-radius: 4vw;
}
.qna{
  margin-top: 10vw;
  background: url('./images/diet_b2.png') ;
  
  background-size: 100%;
  width: 100vw;
  height: 134vh;
}
.qnaHeading{
  color: white;
  font-weight: 800;
  background: green;
  width: 20vw;
  padding: 0.2vw;
  border-radius: 1vw;
  margin-left: 10vw;
  box-shadow: 0.5vw 0.5vw 0.5vw white;
}
.qnaContainer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-top: 2vw;
}
.qnaQues{
  width: 85%;
  height: 40vh;
  background:rgb(240, 235, 235);
  margin: auto;
  margin-top: 4vw;
  border-radius: 4vw;
}
.ques{
  font-weight: 800;
  width: 90%;
  margin: auto;
  margin-top: 1vw;
}
.ans{
  width: 90%;
  margin: auto;
  margin-top: 1vw;
}
.beverage{
  margin-top: 6vw;
  background: burlywood;
}
.beverage h1{
  color: rgb(211, 115, 115);
  font-weight: 800;
  font-size: 9vw;
  text-shadow: 0.5vw 0.5vw black;
}
.beverage h2{
  font-weight: 800;
  text-align: left;
  margin-left: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 5vw;
}
.beverageBanner{
  width: 100%;
}
.beverage p{
  font-size: 2vw;
  width: 90%;
  margin: auto;

  font-weight: 500;
  margin-top: 3vw;
  padding-bottom: 3svw;
}
}